.resume-section-heading:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #54B689;
    position: absolute;
    left: 0;
    top: 0
}

.hide-pdf {
    display: none;
}