
.resume-section-heading {
    padding-left: 0 !important;
    font-size: 1.75rem !important;
} 

.fss {
    font-size: 1.25rem !important;
}

.hide-online{
    display: none;
}

.resume-name, .resume-section-heading, a, .text-primary {
    color: #4b7bec !important;
}